<!-- Landing Page Content -->
<section id="landing" class="landing-page">
  <div class="container" style="height: 86vh;">
      <aside id="landing-box" class="jumbotron container" style="padding-top: 27vh;">
          <h2 style="font-weight:200;">Major Keys to Success</h1>
          <h4 style="font-weight:100;">
            I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing.
          </h4>
          <div style="padding-top:15px;">
            <input placeholder="Enter E-mail" style="width:75%;height:40px;border-radius:4px;border:transparent;padding:10px;">
          </div>
          <div style="padding-top:25px;padding-bottom:;">
            <button class="btn btn-ghost">JOIN NEWSLETTER</button>
          </div>
      </aside>
  </div>
</section>

<!-- Main Page Content -->
<!-- <div class="container"> -->
  <!-- welcome message section -->
  <section class="welcome-msg container" style="padding-top:40px;">
    <div class="row">
      <div class="col-md-6" style="margin-bottom:70px;">
        <%= image_tag 'blockchain-tree.png', style: 'max-width:150px;float:left;padding:15px;' %>
        <h3 class="title">
          <strong>Welcome to bitcoin.miami</strong>
        </h3>
        <p class="lead">Your local bitcoin resource.</p>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-btc"></i> Buy Bitcoin in Miami, FL</h4>
          </div>
          <div class="panel-body">
            <p> Are you looking for the safest and quickest way to buy Bitcoin with cash in Miami? Check out these resources for more information. </p>
            <a href="https://bitstop.co" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </section>

  <!-- Map Section -->
  <section class="map">
    <div class="row map-row">
      <!-- Map Column -->
      <div class="col-md-12 clear-padding">
        <!-- Embedded Google Map -->
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
      </div>
    </div>
    <!-- /.row -->
  </section>


<!-- Bitcoin Events Section -->
  <section style="margin-top: -5px;">
    <div class="container-fluid" style="background-color:#5ED4C4; padding-top:35px;padding-bottom:40px;">
      <div class="col-md-12">
          <h2 class="text-center" style="color:#fff;font-weight:200;">Local Bitcoin Events</h2>
      </div>
    </div>
    <!-- Events -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 clear-padding">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            <% end %>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 clear-padding">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            <% end %>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 clear-padding">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            <% end %>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 clear-padding">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            <% end %>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 clear-padding">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            <% end %>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 clear-padding">
            <%= link_to page_path('portfolio-item') do %>
              <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            <% end %>
          </div>
      </div>
      <!-- /.row -->
    </div>
  </section>

  <!-- News Section -->
  <section class="news-section container-fluid">
    <div class="row">
      <div class="container panel panel-default news-panel">
        <div class="col-md-12">
          <h2 class="page-header text-center" style="font-weight:200;">Bitcoin News</h2>
        </div>
        <div class="col-md-4 article-padding">
          <small><p><strong>Article Title</strong></p></small>
          <small><p style="margin-top:-10px"> Publish Date | <em>www.site.com</em></p></small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
        </div>
        <div class="col-md-4 article-padding">
          <small><p><strong>Article Title</strong></p></small>
          <small><p style="margin-top:-10px"> Publish Date | <em>www.site.com</em></p></small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
        </div>
        <div class="col-md-4 article-padding">
          <small><p><strong>Article Title</strong></p></small>
          <small><p style="margin-top:-10px"> Publish Date | <em>www.site.com</em></p></small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
        </div>
        <div class="col-md-4 article-padding">
          <small><p><strong>Article Title</strong></p></small>
          <small><p style="margin-top:-10px"> Publish Date | <em>www.site.com</em></p></small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
        </div>
        <div class="col-md-4 article-padding">
          <small><p><strong>Article Title</strong></p></small>
          <small><p style="margin-top:-10px"> Publish Date | <em>www.site.com</em></p></small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
        </div>
        <div class="col-md-4 article-padding">
          <small><p><strong>Article Title</strong></p></small>
          <small><p style="margin-top:-10px"> Publish Date | <em>www.site.com</em></p></small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </section>

  <!-- Resources Section -->
  <section class="resources container-fluid">
    <div class="container">
      <!-- Resource Header -->
      <div class="row resource-header">
        <aside class="col-md-6">
          <p class="lead">
            Here’s where we keep all of our favorite goodies. Be sure to check back often as we update it with the newest goodness.
          </p>
        </aside>
        <aside class="col-md-6 text-center">
          <h2>Bitcoin Resources</h2>
        </aside>
      </div>
    </div>
    <!-- Resource Content -->
    <div class="row resource-list">
      <div class="col-md-3">
        <ul class="no-list">
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="no-list">
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="no-list">
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="no-list">
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
          <li class="resource-item">
            <img src="https://index.tnwcdn.com/images/bc695f1b5eecbade7f6961bdb33becf1893078d5.png" style="width:100px; padding-right:20px;" class="pull-left">
            <span class="text-left">
              <h3 class="item-title">Coindesk</h3>
              <p class="item-content">This is a description of what coindesk offers as a resource.</p>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
            </div>
        </div>
    </div>

<!-- </div> -->
<!-- /.container -->
