<%# add navigation links to this file %>
<li>
  <%= link_to 'Bitcoin FAQ', page_path('faq') %>
</li>
<li>
  <%= link_to 'Blog', page_path('blog-home-1') %>
</li>
  <% if user_signed_in? %>
    <li>
      Logged in as <strong><%= current_user.email %></strong>. <%= link_to 'Edit profile', edit_user_registration_path %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    </li>
  <% else %>
    <li>
      <%= link_to "Login", new_user_session_path  %>
    </li>
    <li style="margin-right: 30px;">
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  <% end %>
<li id="bitcoinPrice">
  <!-- Bitcoin Price Displayed here -->
  <a href="https://bitstop.co" class="bitcoin-price" style="color:#444 !important;" target="_blank"><small>USD/24hr <i class="fa fa-caret-up" style="color:#2ecc71 !important;"></i>
</small><br><span><strong><%= number_to_currency(@coinbase_price) %></strong></span></a>
</li>
